SECRET_KEY=CHANGE_ME
DB_HOST=postgres
DB_PORT=5432
DB_NAME=floriboxy
DB_USER=floriboxy
DB_PASSWORD=CHANGE_ME
POSTGRES_PASSWORD=CHANGE_ME
SMTP_SERVER=s63.cyber-folks.pl
SMTP_PORT=587
SMTP_USER=kontakt@floriboxy.pl
SMTP_PASS=CHANGE_ME
